{% extends 'base.html' %}
{% block content %}
<title>TODO-List</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
    * {
      padding: 0;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    /*Apply css properties to container class*/
    .container {
      position: relative;
      width: 1200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px;
    }
     /*Apply css properties to card class*/
     .container .card {
      position: relative;
      padding: 5px 5px;
      box-shadow: 0 0px 20px rgb(65, 61, 61);
      transition: 0.3s ease-in-out;
    }
    /*Apply css properties to card class when it get pointed by cursor*/
   
    .container .card:hover {
      transform: scale(1.05);
    }
    

</style>
{% load static %}
<link rel="stylesheet" href="{% static 'todolist/style.css' %}"/>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">ToDo-List</a>
      <a class="btn btn-outline-light" href="{% url 'todolist:logout' %}" role="button">Logout</a>
    </div>
</nav>
<div class = "awal">
    <h2>Selamat datang {{user}} !</h2>
    <div>
        <a class="btn btn-dark" href="{% url 'todolist:create_task' %}" role="button">Tambah Task</a>
        <a><button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modal_add_task" >Add Task</button></a>
    </div>
</div>

<div class="modal fade" id="modal_add_task" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Task</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" id="form-add-task" >  
                {% csrf_token %}
                <div class="mb-3">
                    <label for="judul" class="col-form-label">Judul:</label>
                    <input type="text" class="form-control" id="judul">
                  </div>
                <div class="mb-3">
                    <label for="deskripsi" class="col-form-label">Deskripsi:</label>
                    <textarea class="form-control" id="deskripsi"></textarea>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" name="submit" onclick="addNew()" value="Add"/>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'todolist/style.css' %}"/>
<div class="container">
    {% for task in data_todolist %}
        {% if task.pengguna == pengguna %}
            <div class="card">
                {% if task.status %}
                    <div class="card text-center h-100 border-success mb-3 text-success" style="width: 20rem;">
                        <div class="card-header bg-success text-white">Selesai</div>

                        <div class="card-body">
                        <h5 class="card-title">{{task.judul}}</h5>
                        <p class="card-text">{{task.deskripsi}}</p>
                        </div>
                        
                        <div class="button_in_card text-center mb-2">
                            <a href="change-status/{{task.id}}" class="btn btn-warning">Ubah Status</a>
                            <a href="delete/{{task.id}}" class="btn btn-danger">Delete</a>  
                        </div>
                        
                        <div class="card-footer text-muted ">
                            {{task.tanggal}}
                        </div>
                    </div>
                
                {% else %}
                    <div class="card text-center h-100" style="width: 20rem;">
                        <div class="card-header">Belum Selesai</div>

                        <div class="card-body">
                            <h5 class="card-title">{{task.judul}}</h5>
                            <p class="card-text">{{task.deskripsi}}</p>
                        </div>
                        
                        <div class="button_in_card text-center mb-2">
                            <a href="change-status/{{task.id}}" class="btn btn-warning">Ubah Status</a>
                            <a href="delete/{{task.id}}" class="btn btn-danger">Delete</a>  
                        </div>
                        
                        <div class="card-footer text-muted">
                            {{task.tanggal}}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>



<script type="text/javascript">
    function addNew(){
        var data_task = {
            judul : $("#judul").val(),
            deskripsi : $("#deskripsi").val()
        }

        $.ajax({
            type: 'POST',
            url: '/todolist/add/',
            data: data_task.serialize(),
            dataType : JSON,
            success: function(res){
                alert(res['msg'])
            }
        })
    } 





</script>

{% endblock content %}