{% extends 'base.html' %}

 {% block content %}


  <h1>Tugas 03 Assignment PBP/PBD</h1>

  <h5>Name: </h5>
  <p>{{nama}}</p>

  <h5>Student ID: </h5>
  <p>{{ID}}</p>

  <table>
    <tr>
      <th>Watched </th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% for movie in list_movie %}
    <tr>
        {% if movie.status_watched %}
          <td>Yes</td>
        {% else %}
          <td>No</td>
        {% endif %}
        <td>{{movie.judul}}</td>
        <td>{{movie.rating}}</td>
        <td>{{movie.release_date}}</td>
        <td><a href="{{ movie.review }}">{{movie.judul}}</a> </td>
    </tr>
    {% endfor %}

  </table>

 {% endblock content %}